.car {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;

  h1 {
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: DINPro Black;
  }
  h2 {
    color: var(--secondColor);
    font-size: 0.9em;
    font-family: DINPro Bold;
  }
  h3 {
    color: var(--ternaryColorF);
    font-size: 0.9em;
    font-family: DINPro Light;
  }
  .logo {
    width: 80px;
  }
  .info {
    width: 12em;
    text-align: center;
    margin-right: 80px;
  }
}
