.car {
  display: flex;
  flex-direction: row;
  height: 20vh;
  align-items: center;
  padding: 3%;
  text-align: center;
  width: 100vw;
  font-family: DINPro-Regular;
  h1 {
    color: rgb(0, 129, 151);
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: DINPro-Black;
  }
  h2 {
    color: rgb(120, 204, 208);
    font-size: 0.9em;
    font-family: DINPro-Bold;
  }
  h3 {
    color: rgb(102, 102, 102);
    font-size: 0.9em;
    font-family: DINPro-Light;
  }
  .info {
    width: 100vw;
  }
  .choix {
    button {
      margin: 3%;
      background: linear-gradient(
        to right,
        var(--primaryColor) 0%,
        var(--secondColor) 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: none;
      color: white;
      font-family: DINPro-Medium;
      font-size: 1.2em;
    }
  }
}
