.HistoricBox {
  display: flex;
  font-family: DINPro Regular;
  color: var(--ternaryColorF);
  max-height: 69vh;
  overflow: scroll;

  img {
    width: 15%;
    margin-right: 2%;
    align-self: center;
  }
  .BoxEvent {
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
  }
  .ToCome {
    background-color: white;
    .EventBox {
      background: linear-gradient(var(--primaryColorT2) 5%, white 95%);
    }
  }
  .Present {
    justify-content: center;
    color: white;
    background: linear-gradient(
      to right,
      (var(--primaryColor)),
      (var(--secondColor))
    );
    color: white;
  }
  .Passed {
    .EventBox {
      background-color: var(--primaryColorT);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .HistoricBox {
    #historicContainer {
      width: 95%;
      margin: auto;
    }
    .InfoBox,
    .Present {
      font-size: 1.5em;
    }
  }
}
