header {
  width: 100vw;
  height: 50vh;

  img {
    width: 100%;
    top: 25%;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
  }
}

/* touch pad*/
@media screen and (min-width: 640px) {
  header {
    img {
      width: auto;
      height: 100%;
      top: 0%;
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      margin: auto;
    }
  }
}
