.InterventionBox {
  display: flex;
  flex-direction: column;
  font-family: DINPro Regular;
  color: var(--ternaryColorF);
  height: 69vh;
  .family {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      font-size: 0.7em;
    }

    h1 {
      color: var(--primaryColor);
      font-size: 1.2em;
      padding: 2%;
      text-transform: uppercase;
    }

    #motor {
      width: 25%;
      padding: 2%;
      box-shadow: 10px 10px 20px var(--primaryColorT);
      border-radius: 1vh;
    }
  }
  img {
    width: 25%;
  }

  .notification {
    overflow: scroll;
  }
  .BoxEvent {
    padding: 1%;
    margin: 1%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
  }
  .ToCome {
    background-color: white;
    font-family: "DINPro Bold";
    .EventBox {
      background: linear-gradient(var(--primaryColorT2) 5%, white 95%);
    }
  }
  .Present {
    justify-content: center;
    color: white;
    background: linear-gradient(
      to right,
      (var(--primaryColor)),
      (var(--secondColor))
    );
    color: white;
  }
  .Passed {
    .EventBox {
      background-color: var(--primaryColorT);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .InterventionBox {
    width: 95%;
    margin: auto;
    font-size: 1.5em;
    .family {
      h1 {
        font-size: 1.7em;
      }
    }
  }
}
