.InterventionBox {
  display: flex;
  flex-direction: column;
  font-family: DINPro Regular;
  color: var(--ternaryColorF);
  padding-top: 20vh;

  .family {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      color: var(--primaryColor);
      font-size: 1.2em;
      padding: 2%;
      text-transform: uppercase;
    }
    p {
      font-size: 0.7em;
    }
  }
  img {
    width: 80px;
  }

  .notification {
    padding-bottom: 10vh;
  }
  .BoxEvent {
    padding: 1%;
    margin: 1% 0;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: var(--primaryColorT);
    .InfoBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .ToCome {
    background-color: white;
    font-family: DINPro Bold;
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
    }
  }
  .Present {
    justify-content: center;
    color: white;
    background: linear-gradient(
      to right,
      (var(--primaryColor)),
      (var(--secondColor))
    );
    color: white;
    font-family: DINPro Bold;
  }
  .Passed {
    background: linear-gradient(
      var(--primaryColorT2) 9%,
      var(--ternaryColor) 170%
    );
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
      font-family: "DINPro Regular";
    }
  }
}
@media screen and (min-width: 450px) {
  .InterventionBox {
    width: 700px;
    margin: auto;
    img {
      width: 80px;
    }
    .family {
      padding: 1%;

      p {
        font-size: 1em;
        margin-top: 0.5em;
        margin-right: 80px;
      }
    }
    .notification {
      .InfoBox {
        margin-right: 80px;
      }
    }
  }
}
