.InterventionBox {
  display: flex;
  flex-direction: column;
  font-family: DINPro Regular;
  color: var(--ternaryColorF);
  height: 69vh;
  .family {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      color: var(--primaryColor);
      font-size: 1.2em;
      padding: 2%;
      text-transform: uppercase;
    }
    p {
      font-size: 0.7em;
    }
  }
  img {
    width: 25%;
  }

  .notification {
    overflow: scroll;
  }
  .BoxEvent {
    padding: 1%;
    margin: 1%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    width: 100%;
    text-align: center;
    background-color: var(--primaryColorT);
    .InfoBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .ToCome {
    background-color: white;
    font-family: DINPro-Bold;
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
    }
  }
  .Present {
    justify-content: center;
    color: white;
    background: linear-gradient(
      to right,
      (var(--primaryColor)),
      (var(--secondColor))
    );
    color: white;
  }
  .Passed {
    background: linear-gradient(
      var(--primaryColorT2) 9%,
      var(--ternaryColor) 170%
    );
    h2 {
      font-size: 1em;
    }
    p {
      font-size: 0.8em;
    }
  }
}
