#kmUpdate {
  height: calc(var(--vh, 1vh) * 95);
  font-family: "DINPro Regular", sans-serif;
  display: flex;
  flex-direction: column;

  #carInfo {
    text-align: center;
    padding: 0.5em 0;
    #backArrow {
      width: 6%;
      position: absolute;
      left: 18px;
      top: 30px;
    }
    h1 {
      color: var(--primaryColor);
      font-size: 24px;
    }
    h3 {
      font-family: "DINPro Light", sans-serif;
      font-size: 15px;
    }
  }
  #alertMsg {
    visibility: hidden;
    align-self: center;
    font-size: 11px;
    font-weight: 600;
    color: red;
    padding: 0.4em 0 0 0;
    &.shown {
      visibility: visible;
    }
  }

  #counterKm {
    display: flex;
    justify-content: center;

    div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      max-height: 60px;
      min-height: 60px;
      margin: 0.1em;
      padding: 0.3em 0.35em;
      font-size: 40px;
      border-radius: 5px;
      color: var(--ternaryColorF);
      box-shadow: 0px 30px 20px 3px var(--primaryColorT2);
      &.incorrect {
        color: red;
      }

      span {
        color: var(--primaryColor);
        &.inlineMode {
          position: relative;
          bottom: 15px;
          line-height: 0.1em;
          padding-bottom: 0.5em;
        }
      }
    }
  }

  h4 {
    font-family: "DINPro Light", sans-serif;
    font-size: 14px;
    color: var(--ternaryColorF);
    text-align: center;
    margin: 0 0 0 0;
  }

  #keyboard {
    max-width: 88%;
    margin: 0.6em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    button {
      background-color: var(--ternaryColorT);
      width: calc(var(--vh, 1vh) * 10);
      height: calc(var(--vh, 1vh) * 10);
      margin: 0.4em;
      font-size: 30px;
      border-radius: 50%;
      border: none;
    }

    img {
      width: 35px;
      margin: 0 8px;
    }
  }

  #validation {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 20px;
    padding: 0.5em;
    background: linear-gradient(
      to right,
      var(--primaryColor) 0%,
      var(--secondColor) 100%
    );
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  button {
    font: inherit;
  }
}
@media screen and (min-width: 450px) {
  #kmUpdate {
    #carInfo {
      width: 400px;
      margin: auto;
      #backArrow {
        width: 20px;
        position: absolute;
        left: 25vw;
        top: 5vh;
      }
      h1 {
        color: var(--primaryColor);
        font-size: 24px;
      }
      h3 {
        font-family: "DINPro Light", sans-serif;
        font-size: 15px;
      }
    }
    #keyboard {
      width: 400px;
      margin-bottom: 10vh;

      button {
        background-color: var(--ternaryColorT);
        width: 10vh;
        height: 10vh;
        margin: 0.4em;
        font-size: 30px;
        border-radius: 50%;
        border: none;
      }

      img {
        width: 35px;
        margin: 0 auto;
      }
    }
    #validation {
      width: 400px;
      margin-bottom: 5vh;
    }
  }
}
