#kmUpdate {
  height: 100vh;
  font-family: "DINPro Regular", sans-serif;
  display: flex;
  flex-direction: column;
  #carInfo {
    text-align: center;
    padding: 0.9em 0 0.6em 0;
    #backArrow {
      width: 6%;
      position: absolute;
      left: 18px;
      top: 30px;
    }
    h1 {
      color: var(--primaryColor);
      font-size: 1.5em;
    }
    h3 {
      font-family: "DINPro Light", sans-serif;
      font-size: 0.9em;
    }
  }
  #alertMsg {
    visibility: hidden;
    align-self: center;
    font-size: 0.7em;
    font-weight: 600;
    color: red;
    padding: 0.4em 0 0 0;
    &.shown {
      visibility: visible;
    }
  }

  #counterKm {
    display: flex;
    justify-content: center;
    max-height: 12%;
    min-height: 12%;
    div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: center;
      margin: 0.1em;
      padding: 0.3em 0.35em;
      font-size: 2.5em;
      border-radius: 5px;
      color: var(--ternaryColorF);
      box-shadow: 0px 30px 20px 3px var(--primaryColorT2);
      &.incorrect {
        color: red;
      }
      span {
        color: var(--primaryColor);
        &.inlineMode {
          position: relative;
          bottom: 15px;
          line-height: 0.1em;
          padding-bottom: 0.5em;
        }
      }
    }
  }

  h4 {
    font-family: "DINPro Light", sasn-serif;
    font-size: 0.9em;
    color: var(--ternaryColorF);
    text-align: center;
    margin: 0.8em 0 0 0;
  }

  #keyboard {
    width: 80%;
    margin: 1.2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    button {
      background-color: var(--ternaryColorT);
      width: 10vh;
      height: 10vh;
      margin: 0.4em;
      font-size: 1.85em;
      border-radius: 50%;
      border: none;
    }
    img {
      width: 73%;
      margin: 0 auto;
    }
  }

  #validation {
    width: 90%;
    margin: 0 auto;
    color: white;
    font-size: 1.25em;
    padding: 0.5em;
    background: linear-gradient(
      to right,
      var(--primaryColor) 0%,
      var(--secondColor) 100%
    );
    border: none;
    border-radius: 10px;
  }

  button {
    font: inherit;
  }
}

//media query for tablets

@media (min-width: 768px) and (max-width: 1024px) {
  #kmUpdate {
    #carInfo {
      height: 13vh;
      #backArrow {
        width: 5%;
        top: 45px;
        left: 33px;
      }

      h1 {
        margin-top: 3%;
        font-size: 2.3em;
      }

      h3 {
        font-size: 1.4em;
      }
    }
    #counterKm {
      width: 75%;
      margin: 0 auto;
      div {
        width: 12%;
        font-size: 3.5em;
      }
    }

    #alertMsg {
      font-size: 1.1em;
    }

    h4 {
      font-size: 1.5em;
      margin: 1.4em 0 0 0;
    }

    #keyboard {
      width: 60%;
      margin: 1.4em auto;
      button {
        font-size: 2.5em;
      }
    }

    #validation {
      width: 65%;
      font-size: 1.7em;
      border-radius: 15px;
    }
  }
}
