.intFamilies {
  .icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .module {
      box-shadow: 10px 10px 20px #30a9c762;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15vh;
      width: 15vh;
      margin: 2%;
      border-radius: 1vh;

      #imgIcone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;

        img#motor {
          width: 75%;
          margin-top: 10px;
        }
        img#tires {
          width: 65%;
          margin-top: 15px;
        }
        img#frame {
          width: 45%;
          margin-top: 15px;
        }
        img#electricity {
          width: 45%;
          margin-top: 15px;
        }
        img#exhaust {
          width: 60%;
          margin-top: 15px;
        }
        img#brakes {
          width: 65%;
          margin-top: 15px;
        }
        img#bodyCar {
          width: 50%;
          margin-top: 15px;
        }
        img#technicalControl {
          width: 60%;
          margin-top: 15px;
        }

        h1 {
          font-family: "DINPro Medium";
          font-size: 0.8em;
          text-align: center;
          color: var(--primaryColor);
        }
        .logo {
          width: 10px;
        }
      }
    }
  }
}
