.intFamilies {
  .icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .module {
      box-shadow: 10px 10px 20px #30a9c762;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15vh;
      width: 15vh;
      margin: 2%;
      border-radius: 1vh;

      #imgIcone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;

        img#moteur {
          width: 75%;
          margin-top: 10px;
        }

        img#pneus {
          width: 65%;
          margin-top: 15px;
        }
        img#chassis {
          width: 45%;
          margin-top: 15px;
        }
        img#electricite {
          width: 45%;
          margin-top: 15px;
        }
        img#echappement {
          width: 60%;
          margin-top: 15px;
        }

        img#freins {
          width: 65%;
          margin-top: 15px;
        }
        img#carrosserie {
          width: 50%;
          margin-top: 15px;
        }
        img#controletechnique {
          width: 60%;
          margin-top: 15px;
        }

        h1 {
          font-family: "DINPro Medium";
          font-size: 0.8em;
          text-align: center;
          color: var(--primaryColor);
        }
        .logo {
          width: 10px;
        }

        a {
          font-size: 18px;
          height: 20vh;
          span {
            position: absolute;
            background-color: white;
            color: var(--primaryColor);
            height: 80%;
            border-radius: 3px;
            font-family: "DINPro Bold";
            margin-left: -50px;
          }
        }
      }
    }
  }
}
