@font-face {
  font-family: "DINPro Light";
  font-style: normal;
  font-weight: 100;
  src: local("DINPro Light"), url("/fonts/DINPro-Light tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Medium"),
    url("/fonts/DINPro-Medium tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Bold";
  font-style: normal;
  font-weight: bold;
  src: local("DINPro Bold"), url("/fonts/DINPro-Bold tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Black";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Black"), url("/fonts/DINPro-Black tr.woff") format("woff");
}

@font-face {
  font-family: "DINPro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Black"), url("/fonts/DINPro-Regular.woff") format("woff");
}

:root {
  --secondColor: rgb(145, 145, 149);
  --secondColorF: rgb(102, 102, 102);
  --primaryColor: rgb(120, 204, 208);
  --primaryColorF: rgb(0, 129, 151);
  --ternaryColor: rgb(92, 210, 160);
}

​ body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
​ code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --secondColor: rgb(145, 145, 149);
  --secondColorF: rgb(102, 102, 102);
  --primaryColor: rgb(120, 204, 208);
  --primaryColorF: rgb(0, 129, 151);
  --ternaryColor: rgb(92, 210, 160);
  --gradientColor1: #00aac6;
  --gradientColor2: #00c1b7;
  --gradientColor3: #00dc9f;
}
