#changePassword {
  height: 100vh;
  font-family: DINPro Light;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    font-size: 1.3em;
    color: var(--primaryColor);
    text-align: center;
    margin: 4em auto 0 auto;
  }

  form {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .button {
      width: 80%;
      height: 14%;
      background: linear-gradient(
        to right,
        var(--primaryColor) 0%,
        var(--secondColor) 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: none;
      color: white;
      font-size: 1.2em;
      padding: 3px;

      input {
        width: 100%;
        height: 100%;
        color: black;
        background-color: white;
        border: none;
        border-radius: 7px;
        text-align: center;
      }

      &.wrong {
        background: red;
      }
    }
    p {
      color: silver;
      font-size: 0.8em;
      text-align: right;
      padding: 0.5em 0;
      &.hidden {
        visibility: hidden;
      }
    }
    .alertMsg {
      color: red;
      text-align: center;
    }
    > input {
      margin-top: 1em;
    }
  }
  .return {
    width: 60%;
    height: 6%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-size: 0.9em;
  }
}
