#identification {
  width: 100%;
  height: 100vh;

  .identification {
    width: 100%;
    height: 40vh;
    margin-top: 10vh;
    li {
      width: 100%;
      height: 40%;

      button {
        width: 80%;
        height: 50%;
        margin: 0 10%;
        background: linear-gradient(
          to right,
          var(--primaryColor) 0%,
          var(--secondColor) 100%
        );
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        color: white;
        font-family: DINPro-Medium;
        font-size: 1.2em;
      }
    }
  }
}
/* touch pad*/
@media screen and (min-width: 640px) {
  #identification {
    header {
      img {
        width: auto;
        height: 100%;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        margin: auto;
      }
    }
  }
}

//media query for tablets from 768px to 1024px

@media (min-width: 768px) and (max-width: 1024px) {
  #identification {
    font-size: 1.5em;
  }
}
